@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #0D8CFF;
    padding: 30px;
    color: white;

}
header .bordado{
    color: #8C00FF;
    padding-bottom:  30px;
}
header h1{
    text-align: center;
}
nav a{
    color: white;
    margin-right: 

}
main{

}

