*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor01);
}
:root{
    --titulo: 'Updock';
    --cor01: #f2bc94;
    --cor02: #722620;
    --cor03: #30110d;
}
.corpo{
    background-color: #ccc;
    margin: auto;
    min-width: 250px;
    max-width: 1100px;
    height: 600px;
    text-align: center;
}
.fundo1{
    display: inline-block;
    margin: 10px 0px 0px 0px;
    width: 200px;
    height: 400px;
    background-color: #30110d;
}
.divfoto{
    background-color: springgreen;
}