@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.fashionmaq.com.br%2Fmaquina-brother-bordadeira-bp1430&psig=AOvVaw1XTUbly0h4tz1rOb6rWOry&ust=1649716019690000&source=images&cd=vfe&ved=0CAoQjRxqFwoTCICAlp3FivcCFQAAAAAdAAAAABAG);
}
header{
    background-image: url(https://adryanzz22.github.io/loja-erica/);
    padding: 15px;
    color: white;
    text-align: center;
}
header .bordado{
    color: #8C00FF;
    padding-bottom:  30px;
}
header h1{
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
}
nav a{
    display: block;
    color: white;
    margin: 10px;
    
}
main{
    background-color: aliceblue;
    margin: auto;
    min-width: 263pxpx;
    max-width: 780px;
    text-align: center;
    
}
img{
    border: 4px solid red;
     width: 96%;
     height: 340px;
    margin: 2px; 
}

