@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');

*{
    margin: 0px;
    padding: 0px;
}body{
    background-color: #f2bc94;
}
div{
    background-color: #f2bc94;
    padding: 15px;
    color: white;
    text-align: center;
    padding: 325px 0px 315px 0px;
}
div h1{
    font-family: 'Updock', cursive;
    font-size: 70px;
    color: #722620;
}
div a{
    font-family: 'Times New Roman', Times, serif;
    color: #30110d;
    margin: 10px;
}
div > p {
    display: none;
    text-align: center;
}
div:hover > p {
    display: block;/*mostrar a frase que esta dentro do div*/
    background-color: rgba(66, 189, 41, 0.801);
    width: 260px;
}