@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    
}
header{
    background-color: #f2bc94;
    padding: 15px;
    color: white;
    text-align: center;
}
header h1{
    display: inline-block;
    font-size: 60px;
    color: #722620;
}
nav a{
    color: #30110d;
    margin: 10px;
    
}
main{
    background-color: aliceblue;
    margin: auto;
    padding-top: 20px;
    min-width: 263pxpx;
    max-width: 1000px;
    text-align: center;
    background-color: #fadcb9;
    
}
img{
    border: 4px solid #722620;
     width: 170px;
     height: 170px;
     margin: 2px;
     border-radius: 20px;
}

